.mqm-masthead > .masthead-bg-color {
    background-image: linear-gradient(to right, #c6179d, #000, #0079ef);
}

.octanetopus-city-clocks {
    display: flex;
}

.octanetopus-city-clock {
    display: flex;
    margin-right: 10px;
    height: 26px;
    overflow: hidden;
    user-select: none;
}

.octanetopus-city-clock--flag {
    position: relative;
    left: 0;
    top: 0;
    width: 35px;
}

.octanetopus-city-clock--text {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}

.octanetopus-city-clock--name {
    margin-left: 2px;
    margin-top: 6px;
    width: 44px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #ccc;
}

.octanetopus-city-clock--time {
    margin-left: 2px;
    margin-top: -1px;
    width: 44px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.octanetopus-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
