.mqm-masthead > .masthead-bg-color {
    background-image: linear-gradient(to right, #2767b0, #c6179d);
}

.octanetopus-city-clock {
    margin-right: 10px;
    width: 100px;
    border-radius: 17px;
    background-size: 1200px;
    background-image: linear-gradient(to right, #000, #000 20%, #003 30%, #669 35%, #fc0 50%, #f30 65%, #603 80%, #103 90%, #000 95%, #000);
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
