.mqm-masthead > .masthead-bg-color {
    background-image: linear-gradient(to right, #0079ef, #000);
}

.octanetopus-city-clocks {
    display: flex;
}

.octanetopus-city-clock {
    display: flex;
    margin-right: 10px;
    height: 28px;
    border: 1px solid #999;
    overflow: hidden;
    user-select: none;
}

.octanetopus-city-clock--flag {
    position: relative;
    left: 0;
    top: 0;
    width: 35px;
}

.octanetopus-city-clock--text {
    background-color: #000;
    padding: 2px 2px;
    height: 26px;
    font-family: "Courier New", Courier, monospace;
}

.octanetopus-city-clock--name {
    width: 40px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #ccc;
}

.octanetopus-city-clock--time {
    width: 40px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.octanetopus-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
