.mqm-masthead > .masthead-bg-color {
    background-image: linear-gradient(to right, #0079ef, #333);
}

.octanetopus-city-clocks {
    display: flex;
}

.octanetopus-city-clock {
    display: flex;
    margin-right: 10px;
    height: 28px;
    border: 1px solid #666;
    border-radius: 0 15px;
    overflow: hidden;
    user-select: none;
}

.octanetopus-city-clock--flag {
    position: relative;
    left: 0;
    top: 0;
    width: 35px;
}

.octanetopus-city-clock--time {
    width: 50px;
    background-color: #333;
    padding: 0 5px;
    line-height: 28px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 13px;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.octanetopus-transparent {
    opacity: 0;
}
