.uxa-masthead-main-content {
    justify-content: space-between !important;
}

.octanetopus--parent {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-right: 72px;
}
.octanetopus--parent.hebrew {
    justify-content: end;
    flex-flow: row-reverse;
}

.octanetopus--clocks {
    display: flex;
    margin: 0 10px;
}
.octanetopus--clock {
    display: flex;
    height: 26px;
    min-width: 72px;
    overflow: hidden;
    user-select: none;
}
.octanetopus--clock--flag {
    position: relative;
    left: 0;
    top: 0;
    height: 26px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
}
.octanetopus--clock--text {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}
.octanetopus--clock--name {
    margin-left: -1px;
    margin-top: 6px;
    width: 39px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #333;
}
.octanetopus--clock--time {
    position: relative;
    margin-left: 2px;
    margin-top: -1px;
    width: 36px;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
.octanetopus--clock--time:after {
    content: ":";
    position: absolute;
    top: -1px;
    left: 14px;
}
.octanetopus--clock--digit-container {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: 0.5s ease all;
}
.octanetopus--clock--digit-item {
    height: 1em;
}
.octanetopus--clock--digit-container:nth-child(2) {
    left: 8px;
}
.octanetopus--clock--digit-container:nth-child(3) {
    left: 20px;
}
.octanetopus--clock--digit-container:nth-child(4) {
    left: 28px;
}

.octanetopus--news {
    flex: 1 1 auto;
    margin: 0 10px;
    overflow: hidden;
    max-width: calc(100vw - 1340px);
}
.octanetopus--parent.hebrew .octanetopus--news {
    text-align: right;
    direction: rtl;
}
@keyframes octanetopus--news--item--appear-animation {
    from {
        max-width: 0;
        color: #fff;
    }
    to {
        max-width: 600px;
        color: #333;
    }
}
.octanetopus--news--item {
    display: block;
    max-width: 500px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    animation: octanetopus--news--item--appear-animation 2s linear;
    transition: 0.5s ease all;
    user-select: none;
}
.octanetopus--news--item:hover,
.octanetopus--news--item:focus {
    color: #222;
    text-decoration: none;
    outline: none;
}
.octanetopus-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.octanetopus--player {
    position: relative;
    display: flex;
    min-width: 122px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #999;
    user-select: none;
}
.octanetopus--player--active {
    border: 1px solid #666;
}
.octanetopus--player--led {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 6px;
    border-radius: 50%;
    background-color: #c00;
    box-shadow: 0 0 10px #c00;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.octanetopus--player--led::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f00;
    box-shadow: 0 0 4px #f00;
    transition: all 0.5s ease-in-out;
}
.octanetopus--player--active > .octanetopus--player--led {
    background-color: #0c0;
    box-shadow: 0 0 10px #0c0;
}
.octanetopus--player--active > .octanetopus--player--led::before {
    background-color: #0f0;
    box-shadow: 0 0 4px #0f0;
}
.octanetopus--player--led:hover {
    opacity: 0.8;
}
.octanetopus--player--stream-list {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    width: 900px;
    grid-auto-flow: column;
    grid-template-rows: repeat(23, 1fr);
    justify-content: space-between;
    border-radius: 13px;
    border: 1px solid #666;
    padding: 10px;
    white-space: nowrap;
    background-color: #222;
    color: #ccc;
    font-family: arial, sans-serif;
    font-size: 11px;
    z-index: 1100;
}
.octanetopus--player--active.octanetopus--player--show-stream-list > .octanetopus--player--stream-list {
    display: grid;
}
.octanetopus--player--stream {
    opacity: 0.8;
    transition: all 0.1s linear;
    cursor: pointer;
}
.octanetopus--player--triggered > .octanetopus--player--stream-list > .octanetopus--player--stream {
    cursor: wait;
}
.octanetopus--player--stream--favorite {
    color: #fc0;
}
.octanetopus--player--stream--playing {
    color: #0f0;
    cursor: default;
}
.octanetopus--player--stream--error {
    color: #666;
    cursor: default;
}
.octanetopus--player--stream--error {
    color: #666;
    cursor: default;
}
.octanetopus--player--stream:hover {
    opacity: 1;
}
.octanetopus--player--star-empty-image,
.octanetopus--player--star-full-image,
.octanetopus--player--music-list-image {
    width: 24px;
    height: 24px;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.octanetopus--player--active > .octanetopus--player--star-empty-image,
.octanetopus--player--active > .octanetopus--player--star-full-image,
.octanetopus--player--active > .octanetopus--player--music-list-image {
    opacity: 1;
}
.octanetopus--player--star-empty-image:hover,
.octanetopus--player--star-full-image:hover,
.octanetopus--player--music-list-image:hover {
    opacity: 0.8;
}
.octanetopus--player--star-empty-image {
    display: block;
}
.octanetopus--player--active.octanetopus--player--favorite-stream > .octanetopus--player--star-empty-image {
    display: none;
}
.octanetopus--player--star-full-image {
    display: none;
}
.octanetopus--player--active.octanetopus--player--favorite-stream > .octanetopus--player--star-full-image {
    display: block;
}
.octanetopus--player--navigate--button {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.octanetopus--player--active > .octanetopus--player--navigate--button {
    opacity: 1;
}
.octanetopus--player--navigate--button:hover {
    opacity: 0.8;
}
.octanetopus--player--navigate--prev {
}
.octanetopus--player--navigate--next {
}
.octanetopus--player--stream-name {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 11px;
}
@keyframes octanetopus--player--stream-name--fade-out-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.octanetopus--player--stream-name--fade-out {
    animation: octanetopus--player--stream-name--fade-out-animation 1.5s ease-in-out 0.5s forwards;
}
.octanetopus--player--active:hover > .octanetopus--player--stream-name {
    animation: none;
}
