.mqm-masthead > .masthead-bg-color {
    background-image: linear-gradient(to right, #333, #333, #333);
}

.mqm-masthead .masthead-logo-container {
    background-color: #333;
}

.octanetopus--clocks {
    display: flex;
}

.octanetopus--clock {
    display: flex;
    margin-right: 10px;
    height: 26px;
    overflow: hidden;
    user-select: none;
}

.octanetopus--clock--flag {
    position: relative;
    left: 0;
    top: 0;
    height: 26px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
}

.octanetopus--clock--text {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
}

.octanetopus--clock--name {
    margin-left: -1px;
    margin-top: 6px;
    width: 47px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #ccc;
}

.octanetopus--clock--time {
    position: relative;
    margin-left: 2px;
    margin-top: -1px;
    width: 44px;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.octanetopus--clock--time:after {
    content: ":";
    position: absolute;
    top: -1px;
    left: 14px;
}

.octanetopus--clock--digit-container {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: 0.5s ease all;
}

.octanetopus--clock--digit-item {
    height: 1em;
}

.octanetopus--clock--digit-container:nth-child(2) {
    left: 8px;
}

.octanetopus--clock--digit-container:nth-child(3) {
    left: 20px;
}

.octanetopus--clock--digit-container:nth-child(4) {
    left: 28px;
}

@keyframes appear-animation {
    from {
        max-width: 0;
    }
    to {
        max-width: 1000px;
    }
}

.octanetopus--news {
    flex: 1 1 auto; 
    padding: 2px 20px 0 20px;       
}

.octanetopus--news--item {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    animation: appear-animation 3s linear;   
    transition: 0.5s ease all;    
}

.octanetopus--news--item:hover,
.octanetopus--news--item:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.octanetopus-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
