button[disabled] {
	pointer-events: none;
}

.octanetopus-popup-body {
	margin: 15px;
	font-size: 16px;
	color: #000;
}

.octanetopus-popup {
	height: 370px;
	width: 600px;
	font-family: MetricWeb-Regular, arial, sans-serif;
}

.octanetopus-popup__header {
	display: flex;
	background-image: linear-gradient(to right, #c6179d, #2767b0);
	height: 30px;
	line-height: 30px;
    padding: 10px;
}

.octanetopus-popup__header__image {
	width: 30px;
	height: 30px;
}

.octanetopus-popup__header__title {
	margin-left: 5px;
	font-size: 24px;
	color: #fff;
}

.octanetopus-popup__header__version {
	margin-left: 4px;
	margin-top: 4px;
	font-size: 12px;
	color: #fff;
}

.octanetopus-popup__content {
	height: calc(100% - 100px);
	margin-top: 10px;
}

.octanetopus-popup__content__config {
	width: 100%;
	height: 100%;
	outline: none;
	background-color: #444;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 14px;
	overflow-y: auto;
	resize: none;
}

.octanetopus-popup__content__config--error {
	background-color: #600;
}

.octanetopus-popup__footer {
	display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.octanetopus-popup__footer__button {
	margin-right: 0;
	margin-left: 10px;
	height: 25px;
	line-height: 23px;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    outline: none !important;    
    font-size: 14px;
    cursor: pointer;
}
